{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TheOctoFood</title>

        <link href="{% static 'images/favicon.png' %}" rel="shortcut icon" type="image/png">

        <!-- jQuery -->
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

        <!-- Bootstrap Javascript -->
        <script type="text/javascript" src="{% static 'js/bootstrap.bundle.js' %}"></script>

        <!-- Custom Javascript -->
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

        <!-- Bootstrap CSS -->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>

        <!-- Custom Style -->
        <link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="only screen and (max-width: 1200px)"/>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css"/>

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

        <!-- Paypal -->

    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>